QuantCloudDataFactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "QuantCloudDataFactory"
		},
		"LS_ADLS_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_CSV'"
		},
		"LS_AZURE_SQL_DATABASE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AZURE_SQL_DATABASE'"
		},
		"LS_OnPremSqlServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_OnPremSqlServer'"
		},
		"LS_ADLS_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://rainbowstorageadls.dfs.core.windows.net/"
		},
		"LS_AZURE_SQL_DATABASE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "quant-cloud-server.database.windows.net"
		},
		"LS_AZURE_SQL_DATABASE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "QuantCloudDB"
		},
		"LS_AZURE_SQL_DATABASE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "QuantCloud"
		},
		"LS_OnPremSqlServer_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "SandeepReddy"
		},
		"LS_OnPremSqlServer_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks"
		},
		"LS_OnPremSqlServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "quant_user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZURE_SQL_DATABASE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AZURE_SQL_DATABASE_properties_typeProperties_server')]",
					"database": "[parameters('LS_AZURE_SQL_DATABASE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AZURE_SQL_DATABASE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AZURE_SQL_DATABASE_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-SelfHosted-OnPrem')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BINARY_SOURCE_EVNT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SourceFileName",
							"type": "Expression"
						},
						"folderPath": "RawFiles",
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BINARY_TARGET_EVNT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TargetFileName",
							"type": "Expression"
						},
						"folderPath": "Processed",
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_TARGET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apple_sales_filtered",
						"folderPath": "ProcessedFiles",
						"fileSystem": "bronze-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DYNAMIC_CSV_FILE_MIGRATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DYNAMIC_CSV_FILE_MIGRATION_TARGET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TargetFileName",
							"type": "Expression"
						},
						"folderPath": "ProcessedFiles",
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FILE_LOOKUP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_LOOKUP_RAW_FILES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "RawFiles",
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONPREM_TO_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Folder": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "bronze-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_READ_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apple_global_sales_dataset.csv",
						"folderPath": "csv",
						"fileSystem": "bronze-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SOURCE_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SourceFileName",
							"type": "Expression"
						},
						"folderPath": "RawFiles",
						"fileSystem": "bronze-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SOURCE_FILE_POINTER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SrcFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SrcFileName",
							"type": "Expression"
						},
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TABLES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AZURE_SQL_DATABASE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceSchema": {
						"type": "string"
					},
					"SourceTable": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL_DATASETS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SourceSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SourceTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AZURE_SQL_DATABASE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TO_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL_DATASETS"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TargetFileName",
							"type": "Expression"
						},
						"folderPath": "SqlDatasets",
						"fileSystem": "bronze-container"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TARGET_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TargetFileName",
							"type": "Expression"
						},
						"folderPath": "Processed",
						"fileSystem": "bronze-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TARGET_FILE_POINTER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TrgFileName": {
						"type": "string"
					},
					"TrgFolderName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TrgFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().TrgFolderName",
							"type": "Expression"
						},
						"fileSystem": "bronze-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_OnPremSqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_OnPremSqlServer_properties_typeProperties_server')]",
					"database": "[parameters('LS_OnPremSqlServer_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_OnPremSqlServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_OnPremSqlServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-SelfHosted-OnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-SelfHosted-OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_ACTIVITY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCsvFileToAdls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Constituency Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ConstituencyNumber",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Constituency Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ConstituencyName",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SerialNumber",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Candidate Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CandidateName",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Party",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Party",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EVM Votes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EVMVotes",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postal Votes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PostalVotes",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Votes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalVotes",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vote Percentage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VotePercentage",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_READ_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_TARGET",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyCsvFileToAdls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_READ_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_READ_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_TARGET')]"
			]
		}
	]
}